html,body{
    background-image: url("../img/bg/bground.jpg");
    background-size: cover;
    background-repeat: repeat-x;
    height: 100%;
    width: 100%;
    float: left;
}
.body_head img{
    float: left;
    height: 80px;
}
.body_head h1{
    position: relative;
    font-size: 70px;
    font-family: STSong;
    color: rgba(255, 255, 255, 255);
    text-align: center;
}
.body_head{
    width: 100%;
    position: fixedz;z-index: 999;
    top: 0;
}
.body_text{
    width: 100%;
    height: 100%;
    text-align: center;
}
.half{
    position: absolute;
    height: 200px;
    width:500px;
    text-align:center;
    z-index:30;
}
#shownumber{
    font-size: 150pt;
    font-family: Verdana;
    text-align: center;
}
.setbox{
    position: absolute;
    left: 40%;
    top: 20%;
    display: none;
    position: fixed;
    text-align: center;
    z-index: 14;
    width: 20%;
    height: 20%;
    overflow: auto;
    background-color: rgb(0, 0,0);
    background-color: rgb(0, 0,0,0.4);
}
.setbox_centent{
    position: absolute;
    margin: 0 auto;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid#888;
    width: 80%;
}
.close{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover, .close:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.draw_div{
    float:left;
    height: 100%;
    width: 80%
}
#start.btn_style{
    background : url("../img/Sketch001.png") no-repeat center;
    width: 100px;
    height: 50px;
    text-align: center;
}
.lucky_number{
    padding-left: 60%;

}
.body_div{
    width: 100%;
    height: 70%;
}
.border{
    border-style: groove;
    border-width: 2px;
    border-color: #aaa;
    height: 200px;
    width: 100px;
}
.luckynum_div{
    
    bottom: 20px;
    float: left;
    height: 400px;
    width: 200px;
    background-color: rgba(255, 255, 255, 2);
    border-radius: 5px;
}
.luckynum_title{
    text-align: center;
    width: 100%;
    height: 30px;
    display: block;
    line-height: 40px;
}
.lucky_div{
    /*box-sizing: border-box;*/
    width: 100%;
    height: 340px;
}
.lucky_ul{
    width: 100%;
    height: 360px;
}
.lucky{
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow-y: scroll;
    top: 50px;
    bottom: 70px;
    width: 100%;
    height: 340px;
}
.lucky>li{
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    position: relative;
}
.lucky>li div.portrait{
    height: 30px;
    width: 30px;
    border-radius: 5px;
    background-size: cover;
}
.div_bt{
    width: 100%;
    height: 30px;
    text-align: center;
}

.show_num{
    line-height: 30px;
    position: absolute;
    top: 0;
    left: 40px;
    right: 0;
}
#lucky_circle{
    height: 225px;
    width: 225px;
    text-align: center;
    background-image: url("../img/circle.png");
    display: none;
}
#dropback{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #444;
    z-index: 13;
    opacity: 0.9;
    display: none;
}
